[Unit]
Description=CCTV Service (Camera Surveillance Camper)
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=1s
User=root
WorkingDirectory=/home/venhdettah/projects/cctv
ExecStart=SDL_VIDEODRIVER="fbcon" SDL_FBDEV="/dev/fb0" /usr/bin/python3 cctv_service.py

[Install]
WantedBy=multi-user.target
