[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"rpi.gpio" = "*"
keyboard = "*"
imutils = "*"
pillow = "*"
numpy = "*"

[dev-packages]
pytest = "*"
pytest-watch = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
