[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"rpi.gpio" = "*"
keyboard = "*"
imutils = "*"
pillow = "*"
numpy = "*"
pygame = "==1.9.6"

[dev-packages]
pytest = "*"
pytest-watch = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
